@import "nativescript-theme-core/css/core.light.css";
@import url('~/android.css');

Page {
    background-color: rgb(103, 192, 233);
    font-size: 17;
}
TextField {
    margin: 10;
    padding: 10;
}
Image {
    margin-top: 10;
    margin-left: 10;
    margin-right: 10;
    margin-bottom: 10;
}
Button {
    margin: 10;
    padding: 10;
    background-color:  rgb(32, 67, 224);
    border-radius: 12px;
}

ActionBar {
    background-color:  rgb(32, 67, 224);
    color: Black;
    
}
